## Random Member Generator

### Imports

In [1]:
import pandas as pd                 # this is a dataframe library
import matplotlib.pyplot as plt     # plots data
import numpy as np                  # provides N-dim Object support
from random import randint          # to calculate a random integer value

In [2]:
df = pd.read_csv("./member_roster_06_07_2020.csv")      # Load Pima data. Adjust path as necessary

In [3]:
df.head()

,Last Name,First Name,Informal First Name,Account #,Member Status,Pledge Date,Initiation Date
0,Abel,Jack,Jack,1440426,Active - Good Standing,09/09/2019,11/10/2019
1,Adams,Trent,Trent,1440410,Active - Good Standing,09/09/2019,11/10/2019
2,Akabane,Reyn,Reyn,1318003,Active - Good Standing,08/27/2018,11/04/2018
3,Alexander,Matthew,Matthew,1317991,Active - Good Standing,08/27/2018,11/04/2018
4,Austin,Jack,Jack,1440350,Active - Good Standing,09/09/2019,11/10/2019

### Top 5 people in the list ^

### Calculate random number

In [4]:
random_integer = randint(0,len(df))

In [5]:
print("Random number is:", random_integer)

Random number is: 56

### *Random Member*

In [6]:
print(df.loc[random_integer])

Last Name                              Marchi
First Name                           Nicholas
Informal First Name                      Nick
Account #                             1440355
Member Status          Active - Good Standing
Pledge Date                        09/09/2019
Initiation Date                    11/10/2019
Name: 56, dtype: object